/* Tables
-------------------------------------------------------------- */

/*
	Because of the need for padding on TH and TD, the vertical rhythm
	on table cells has to be 27px, instead of the standard 18px or 36px
	of other elements.
 */
table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th    { background: #bcdeed; }
th,
td,
caption     { padding: 4px 10px 4px 5px; }
/*
	You can zebra-stripe your tables in outdated browsers by adding
	the class "even" to every other table row.
 */
tbody tr:nth-child(even) td,
tbody tr.even td  { background: #e2f1f7; }
tfoot        { font-style: italic; }
caption      { background: #e6e6e6; }