@charset "utf-8";

/*
Description: text related buttons css comes here
Author: Tanishka Raut
Version: 1.0
--------------------
f - font
brd - border
brdRds - border radius
ta - text align
l, r, c - left, right, center
tc - text color

*/
.bold {
	font-weight:bold;
}
.italic {
	font-style:italic
}
.capsUp {
	text-transform:uppercase;
}
/*font size css starts*/
.f9 {
	font-size:9px;
}
.f10 {
	font-size:10px;
}
.f11 {
	font-size:11px;
}
.f12 {
	font-size:12px;
}
.f13 {
	font-size:13px;
}
.f14 {
	font-size:14px;
}
.f15 {
	font-size:15px;
}
.f16 {
	font-size:16px;
}
.f17 {
	font-size:17px;
}
.f18 {
	font-size:18px;
}
.f20 {
	font-size:20px;
}
.f21 {
	font-size:21px;
}
.f22 {
	font-size:22px;
}
.f24 {
	font-size:24px;
}
.f25 {
	font-size:25px;
}
.f28 {
	font-size:28px;
}
.f30 {
	font-size:30px;
}
.f32 {
	font-size:32px;
}
/*font size css ends*/
.tal {
	text-align:left;
}
.tar {
	text-align:right;
}
.tac {
	text-align:center;
}
.underline {
	text-decoration:underline;
}
.noline {
	text-decoration:none;
}
/*text shadow css starts*/
.tShadow1 {
	text-shadow: 0px 1px #767676;
}
.tShadow2 {
	text-shadow: 0px 1px 1px #555;
}
/*text shadow css ends*/

/*text colors css starts*/
.tc-1 {
	color:#fff;
}
.tc-2 {
	color:#253f64;
}
.tc-3 {
	color:#9d9d9d;
}
.tc-4 {
	color:#82c828;
}
.tc-5 {
	color:#666666;
}
.tc-6 {
	color:#0099cb;
}
.tc-7 {
	color:#b4b9bb;
}
.tc-8 {
	color:#f7bd0e;
}
.tc-9 {
	color:#ffff66;
}
.tc-10 {
	color:#afb6b8;
}
.tc-11 {
	color:#2dabd4;
}
.tc-12 {
	color:#fea321;
}
.tc-13 {
	color:#333333;
}
.tc-14 {
	color:#538b20;
}
/*text colors css ends*/
.lh-18 {
	line-height:18px;
}
.lh-12 {
	line-height:12px;
}




